<span class="mt-4 font-primary font-bold text-center text-[24px] ">Vincular Testigos</span>
<mat-dialog-content>
  <p class="text-center font-primary">Seleccione la opcion que desea</p>
</mat-dialog-content>
<mat-dialog-actions class="w-full flex flex-col gap-4 !px-4 !pb-6">
  <mg-button size="big" text="Líderes de testigos" class="w-full" icon="person_add"
    routerLink="/private/activar-testigo" (click)="dialogRef.close()"></mg-button>

  <mg-button size="big" text="Ver Resultados de Votación" class="w-full" icon="analytics" variant="primary"
    (onClick)="openVerResultados()"></mg-button>

  <button mat-button (click)="onNoClick()" class="!rounded-full mt-2">Cerrar</button>
</mat-dialog-actions>