<mg-title title="Mis testigos"></mg-title>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-4">
    @for (t of paginatedTestigos; track t.id) {
    <app-card-aprobacion [title]="t.nombres" [subtitle]="t.apellidos"
        [date]="getPuestoVotacionName(t.puestoVotacionResponsableId)" [checked]="isChecked(t)"
        (checkedChange)="aprobarTestigo(t, $event)" [photoUrl]="t.foto" [phoneNumber]="t.celular || ''"
        [showAddWitnessAction]="true" (addWitnessAction)="openGestionWitnessDialog(t)"></app-card-aprobacion>
    }
</div>

<mg-paginator [length]="testigos.length" [pageSize]="pageSize" [pageIndex]="pageIndex" [showPageSizeOptions]="true"
    [pageSizeOptions]="[5, 10, 20, 50]" (page)="onPageChange($event)"></mg-paginator>