<button (click)="submit()" [disabled]="disabled || loading" [ngClass]="{
  'w-full h-10': size == 'big',
'bg-yellow-400': type == 'submit' && !disabled && !loading,
'border-2 border-black': type == 'submit' && !disabled && !loading,
'hover:bg-yellow-500': type == 'submit' && !disabled && !loading,
'text-gray-900': type == 'submit' && !disabled && !loading,

'hover:bg-gray-300': type == 'reset' && !disabled && !loading,
'bg-white border border-gray-300': type == 'reset' && !disabled && !loading,
'text-black': type == 'reset' && !disabled && !loading,

'bg-gray-400 text-gray-700 pointer-events-none': disabled || loading,

'tracking-widest font-medium py-1 px-4 rounded-[18px] min-w-20 font-primary shadow-md transition-all duration-200 active:scale-95 ease-in-out': true
}">
  <div class="flex justify-center items-center gap-2 w-full">
    <span *ngIf="icon && !loading" class="text-lg">{{icon}}</span>
    <span *ngIf="loading" class="material-symbols-outlined animate-spin">
      progress_activity
    </span>
    <span *ngIf="!loading" [ngClass]="{'text-lg': size == 'big', 'text-sm': size == 'small'}"
      class="font-primary text-center w-full font-semibold">{{text}}</span>
  </div>
</button>