<!-- <mg-title title="Configuraciones"></mg-title>
<div class="grid grid-col-1 justify-center w-full gap-5 mt-10"> -->
<!-- <mg-button-settings class="sm:w-full lg:w-52" text="Cambiar contraseña"></mg-button-settings> -->
<!-- <mg-button-settings class="sm:w-full lg:w-52 font-primary sm:text-lg lg:text-xl" text="Mi perfil" [routerLink]="['/mi-perfil']"></mg-button-settings>
  <mg-button-settings class="sm:w-full lg:w-52 font-primary sm:text-lg lg:text-xl" text="Crear colaborador" routerLink="../create-user"></mg-button-settings>
  <mg-button-settings class="sm:w-full lg:w-52 font-primary sm:text-lg lg:text-xl" text="Control y acceso" ></mg-button-settings>
  <mg-button-settings class="sm:w-full lg:w-52 font-primary sm:text-lg lg:text-xl" text="Crear equipo de trabajo" [routerLink]="['/create-team']"></mg-button-settings>
  <mg-button-settings class="sm:w-full lg:w-52 font-primary sm:text-lg lg:text-xl" text="Editar equipo de trabajo" [routerLink]="['/edit-team']"></mg-button-settings>
  <mg-button-settings class="sm:w-full lg:w-52 font-primary sm:text-lg lg:text-xl" text="Cerrar sesión" (click)="logout()"></mg-button-settings>
</div> -->

<div
  class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-3"
>
  <ng-container *ngFor="let card of cards; let i = index">
    <mtt-card-info
      [routerLink]="card.goTo"
      [title]="card.title"
      [textInfo]="card.description"
      [icon]="card.icon"
    ></mtt-card-info>
  </ng-container>
  <mtt-card-info
    [title]="'Cerrar sesión'"
    [textInfo]="'Cerrar sesión'"
    [icon]="'close'"
    (click)="logout()"
    (keydown)="logout()"
  ></mtt-card-info>
</div>
