<mg-title title="Grupos de seguridad"></mg-title>

<form [formGroup]="form">
  <mg-container-grid [hiddenButtons]="true">
    <mg-input-select formControlName="usuario" [label]="'Buscar el perfil'" id="users" [items]="usuarios"></mg-input-select>
    <mg-input-select formControlName="rol" [label]="'Rol de usuario'" id="rol" [items]="roles"></mg-input-select>
  </mg-container-grid>


</form>

<mg-title title="Permisos"></mg-title>
<span class="font-primary text-gray-500 flex w-full justify-center">Administrar (Crear, ver, editar, eliminar)</span>

<form action="" [formGroup]="formPermisos" class="flex flex-col gap-10">
<!-- USUARIOS -->
  <div>
    <mg-sub-title title="Adminitración de usuarios"></mg-sub-title>
    <mg-container-grid [hiddenButtons]="true">
      <label class="inline-flex gap-2 items-center justify-between md:border-r border-gray-400 sm:border-b p-2 cursor-pointer min-w-3">
        <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Admin todos los usuarios</span>
        <input type="checkbox" value="" class="sr-only peer" formControlName="UsuariosTodos">
        <div class="relative w-11 h-6 bg-red-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-yellow-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600 dark:peer-checked:bg-tertiary"></div>
      </label>
      <label class="inline-flex gap-2 items-center justify-between md:border-r border-gray-400 sm:border-b p-2 cursor-pointer min-w-3">
        <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Admin usuarios por departamento</span>
        <input type="checkbox" value="" class="sr-only peer" formControlName="UsuariosDepartamento">
        <div class="relative w-11 h-6 bg-red-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-yellow-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600 dark:peer-checked:bg-tertiary"></div>
      </label>
      <label class="inline-flex gap-2 items-center justify-between md:border-r border-gray-400 sm:border-b p-2 cursor-pointer min-w-3">
        <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Admin usuarios por municipio</span>
        <input type="checkbox" value="" class="sr-only peer" formControlName="UsuariosMunicipio">
        <div class="relative w-11 h-6 bg-red-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-yellow-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600 dark:peer-checked:bg-tertiary"></div>
      </label>
      <label class="inline-flex gap-2 items-center justify-between md:border-r border-gray-400 sm:border-b p-2 cursor-pointer min-w-3">
        <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Admin usuarios por iglesia</span>
        <input type="checkbox" value="" class="sr-only peer" formControlName="UsuariosIglesia">
        <div class="relative w-11 h-6 bg-red-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-yellow-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600 dark:peer-checked:bg-tertiary"></div>
      </label>
      <label class="inline-flex gap-2 items-center justify-between md:border-r border-gray-400 sm:border-b p-2 cursor-pointer min-w-3">
        <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Admin usuarios por comuna</span>
        <input type="checkbox" value="" class="sr-only peer" formControlName="UsuariosComuna">
        <div class="relative w-11 h-6 bg-red-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-yellow-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600 dark:peer-checked:bg-tertiary"></div>
      </label>
    </mg-container-grid>
  </div>


  <!-- REFERIDOS -->
<div>
  <mg-sub-title title="Administración de referidos"></mg-sub-title>
  <mg-container-grid [hiddenButtons]="true">
    <label class="inline-flex gap-2 items-center justify-between md:border-r border-gray-400 sm:border-b p-2 cursor-pointer min-w-3">
      <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Admin todos los referidos</span>
      <input type="checkbox" value="" class="sr-only peer" formControlName="ReferidosTodos">
      <div class="relative w-11 h-6 bg-red-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-yellow-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600 dark:peer-checked:bg-tertiary"></div>
    </label>
    <label class="inline-flex gap-2 items-center justify-between md:border-r border-gray-400 sm:border-b p-2 cursor-pointer min-w-3">
      <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Admin referidos por departamento</span>
      <input type="checkbox" value="" class="sr-only peer" formControlName="ReferidosDepartamento">
      <div class="relative w-11 h-6 bg-red-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-yellow-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600 dark:peer-checked:bg-tertiary"></div>
    </label>
    <label class="inline-flex gap-2 items-center justify-between md:border-r border-gray-400 sm:border-b p-2 cursor-pointer min-w-3">
      <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Admin referidos por municipio</span>
      <input type="checkbox" value="" class="sr-only peer" formControlName="ReferidosMunicipio">
      <div class="relative w-11 h-6 bg-red-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-yellow-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600 dark:peer-checked:bg-tertiary"></div>
    </label>
    <label class="inline-flex gap-2 items-center justify-between md:border-r border-gray-400 sm:border-b p-2 cursor-pointer min-w-3">
      <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Admin referidos por iglesia</span>
      <input type="checkbox" value="" class="sr-only peer" formControlName="ReferidosIglesia">
      <div class="relative w-11 h-6 bg-red-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-yellow-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600 dark:peer-checked:bg-tertiary"></div>
    </label>
    <label class="inline-flex gap-2 items-center justify-between md:border-r border-gray-400 sm:border-b p-2 cursor-pointer min-w-3">
      <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Admin referidos por comuna</span>
      <input type="checkbox" value="" class="sr-only peer" formControlName="ReferidosComuna">
      <div class="relative w-11 h-6 bg-red-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-yellow-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600 dark:peer-checked:bg-tertiary"></div>
    </label>
  </mg-container-grid>
</div>

  <!-- PERMISOS  -->

  <div>
    <mg-sub-title title="Administración de permisos"></mg-sub-title>
    <mg-container-grid [hiddenButtons]="true">
      <label class="inline-flex gap-2 items-center justify-between md:border-r border-gray-400 sm:border-b p-2 cursor-pointer min-w-3">
        <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Admin todos los permisos</span>
        <input type="checkbox" value="" class="sr-only peer" formControlName="PermisosTodos">
        <div class="relative w-11 h-6 bg-red-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-yellow-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600 dark:peer-checked:bg-tertiary"></div>
      </label>
      <label class="inline-flex gap-2 items-center justify-between md:border-r border-gray-400 sm:border-b p-2 cursor-pointer min-w-3">
        <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Admin permisos por departamento</span>
        <input type="checkbox" value="" class="sr-only peer" formControlName="PermisosDepartamento">
        <div class="relative w-11 h-6 bg-red-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-yellow-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600 dark:peer-checked:bg-tertiary"></div>
      </label>
      <label class="inline-flex gap-2 items-center justify-between md:border-r border-gray-400 sm:border-b p-2 cursor-pointer min-w-3">
        <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Admin permisos por municipio</span>
        <input type="checkbox" value="" class="sr-only peer" formControlName="PermisosMunicipio">
        <div class="relative w-11 h-6 bg-red-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-yellow-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600 dark:peer-checked:bg-tertiary"></div>
      </label>
      <label class="inline-flex gap-2 items-center justify-between md:border-r border-gray-400 sm:border-b p-2 cursor-pointer min-w-3">
        <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Admin permisos por iglesia</span>
        <input type="checkbox" value="" class="sr-only peer" formControlName="PermisosIglesia">
        <div class="relative w-11 h-6 bg-red-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-yellow-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600 dark:peer-checked:bg-tertiary"></div>
      </label>
      <label class="inline-flex gap-2 items-center justify-between md:border-r border-gray-400 sm:border-b p-2 cursor-pointer min-w-3">
        <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Admin permisos por comuna</span>
        <input type="checkbox" value="" class="sr-only peer" formControlName="PermisosComuna">
        <div class="relative w-11 h-6 bg-red-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-yellow-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600 dark:peer-checked:bg-tertiary"></div>
      </label>
    </mg-container-grid>
  </div>



  <!-- IGLESIAS  -->

  <div>
    <mg-sub-title title="Administración de iglesias"></mg-sub-title>
    <mg-container-grid [hiddenButtons]="true">
      <label class="inline-flex gap-2 items-center justify-between md:border-r border-gray-400 sm:border-b p-2 cursor-pointer min-w-3">
        <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Admin todas las iglesias</span>
        <input type="checkbox" value="" class="sr-only peer" formControlName="IglesiasTodas">
        <div class="relative w-11 h-6 bg-red-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-yellow-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600 dark:peer-checked:bg-tertiary"></div>
      </label>
      <label class="inline-flex gap-2 items-center justify-between md:border-r border-gray-400 sm:border-b p-2 cursor-pointer min-w-3">
        <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Admin iglesias por departamento</span>
        <input type="checkbox" value="" class="sr-only peer" formControlName="IglesiasDepartamento">
        <div class="relative w-11 h-6 bg-red-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-yellow-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600 dark:peer-checked:bg-tertiary"></div>
      </label>
      <label class="inline-flex gap-2 items-center justify-between md:border-r border-gray-400 sm:border-b p-2 cursor-pointer min-w-3">
        <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Admin iglesias por municipio</span>
        <input type="checkbox" value="" class="sr-only peer" formControlName="IglesiasMunicipio">
        <div class="relative w-11 h-6 bg-red-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-yellow-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600 dark:peer-checked:bg-tertiary"></div>
      </label>
      <label class="inline-flex gap-2 items-center justify-between md:border-r border-gray-400 sm:border-b p-2 cursor-pointer min-w-3">
        <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Admin iglesias por comuna</span>
        <input type="checkbox" value="" class="sr-only peer" formControlName="IglesiasComuna">
        <div class="relative w-11 h-6 bg-red-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-yellow-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600 dark:peer-checked:bg-tertiary"></div>
      </label>
    </mg-container-grid>
  </div>



  <!-- COMUNAS  -->

  <div>
    <mg-sub-title title="Administración de comunas"></mg-sub-title>
    <mg-container-grid [hiddenButtons]="false">
      <label class="inline-flex gap-2 items-center justify-between md:border-r border-gray-400 sm:border-b p-2 cursor-pointer min-w-3">
        <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Admin todas las comunas</span>
        <input type="checkbox" value="" class="sr-only peer" formControlName="ComunasTodas">
        <div class="relative w-11 h-6 bg-red-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-yellow-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600 dark:peer-checked:bg-tertiary"></div>
      </label>
      <label class="inline-flex gap-2 items-center justify-between md:border-r border-gray-400 sm:border-b p-2 cursor-pointer min-w-3">
        <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Admin comunas por departamento</span>
        <input type="checkbox" value="" class="sr-only peer" formControlName="ComunasDepartamento">
        <div class="relative w-11 h-6 bg-red-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-yellow-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600 dark:peer-checked:bg-tertiary"></div>
      </label>
      <label class="inline-flex gap-2 items-center justify-between md:border-r border-gray-400 sm:border-b p-2 cursor-pointer min-w-3">
        <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Admin comunas por municipio</span>
        <input type="checkbox" value="" class="sr-only peer" formControlName="ComunasMunicipio">
        <div class="relative w-11 h-6 bg-red-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-yellow-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600 dark:peer-checked:bg-tertiary"></div>
      </label>

    </mg-container-grid>
  </div>



</form>


