
@if(!showSearch) {
<span class="mt-4 font-primary font-bold text-center text-[24px] ">Casas de apoyo</span>
<mat-dialog-content>
  <p class="text-center font-primary">Seleccione la opcion que desea</p>
</mat-dialog-content>
<mat-dialog-actions class="w-full flex flex-col gap-4">

  <mg-button mat-dialog-close size="big" text="Mi casa de apoyo" class="w-full" icon="home"
    routerLink="/private/mi-casa-de-apoyo"></mg-button>

  @if(this.usuario.rol === 'Pastor' || this.usuario.rol === 'Coordinador de iglesia') {
    <mg-button (click)="toggleSearch()" size="big" text="Aprobación de solicitudes" class="w-full" icon="check_circle"></mg-button>
  }

  @if(this.usuario.rol === 'Pastor' || this.usuario.rol === 'Coordinador de iglesia') {
  <mg-button mat-dialog-close size="big" text="Casas inscritas" class="w-full" icon="list"
    routerLink="/private/listar-casas-apoyo"></mg-button>
  }

  @if(this.usuario.rol === 'Pastor' || this.usuario.rol === 'Coordinador de iglesia') {
  <mg-button mat-dialog-close size="big" text="Inscribir casa" class="w-full" icon="add_home"
    routerLink="/private/inscribir-casas-apoyo"></mg-button>
  }
  


  <button mat-button (click)="onNoClick()">Cerrar</button>
</mat-dialog-actions>
} @else {
  <div class="flex flex-col items-center w-full px-4">
    
    <span class="font-primary font-bold text-center text-[24px] mb-4 mt-4">Buscar voluntario</span>
    
    <div class="w-full flex items-center gap-2">
      <div class="w-full">
        <mg-input-text
          label="Documento de identidad"
          placeholder="Ingrese cédula"
          [(ngModel)]="cedula"
          (keyup.enter)="searchUser()"
        ></mg-input-text>
      </div>
      <button mat-icon-button (click)="searchUser()" class="mb-4">
        <mat-icon>search</mat-icon>
      </button>
    </div>

    @if(foundUser) {
      <div class="w-full mb-4">
        <lida-person-info 
          [title]="foundUser.nombres + ' ' + foundUser.apellidos"
          [textInfo]="foundUser.documento"
          [textInfo2]="foundUser.celular"
          [textInfo3]="foundUser.email"
          [icon]="'person'"
          [badge]="false"
          [textbadge]="''"
          [textbadge2]="''"
        ></lida-person-info>
        
        <div class="mt-4 w-full flex gap-4">
          <mg-button (click)="approveUser()" size="big" text="Aprobar" class="w-full" icon="verified"></mg-button>
          <mg-button (click)="backFromSearch()" size="big" text="Cerrar" class="w-full" icon="close"></mg-button>
        </div>
      </div>
    } @else {
       <div class="mt-4 w-full p-2">
         <mg-button (click)="backFromSearch()" size="big" text="Cerrar" class="w-full" icon="close"></mg-button>
        </div>
    }
  </div>
}

