mat-form-field {
  width: 100%;
}

::ng-deep .mat-mdc-form-field .mdc-text-field {
  background-color: white !important;
  border: 1px solid black !important;
}
::ng-deep .mat-mdc-form-field .mdc-text-field:focus-within {
  background-color: white !important;
  border: 2px solid black !important;
}



::ng-deep .mat-mdc-form-field .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white !important;
  border-radius: 8px !important;
}

::ng-deep {
  .mdc-line-ripple {
    display: none !important;
  }

  .mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-text-field__input {
    color: black !important;
    font-weight: 500 !important;
  }

  mat-lebel {
    color: black !important;
    font-weight: 500 !important;
    font-family: Genos, sans-serif !important;

  }
}









