mat-form-field {
  width: 100%;
}

::ng-deep .mat-mdc-form-field .mdc-text-field {
  background-color: rgb(247, 247, 247) !important;
  border: 2px solid rgb(238, 238, 238) !important;
  border-radius: 8px  !important;
}
::ng-deep .mat-mdc-form-field .mdc-text-field:focus-within {
  background-color: white !important;
  border: 2px solid black !important;
}



::ng-deep .mat-mdc-form-field .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white !important;
  border-radius: 8px !important;
}

::ng-deep {
  .mdc-line-ripple {
    display: none !important;
  }

  .mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-text-field__input {
    color: black !important;
    font-weight: 500 !important;
  }

  .mat-mdc-text-field-wrapper:hover .mat-mdc-form-field-focus-overlay {
    background-color: transparent  !important;
  }



  mat-lebel {
    color: black !important;
    font-weight: 500 !important;
    font-family: Genos, sans-serif !important;

  }
}

::ng-deep .mat-mdc-form-field.mat-form-field-invalid .mdc-text-field {
  border: 1px solid red !important;
}

::ng-deep .mat-mdc-form-field.input-success .mdc-text-field {
  border: 1px solid green !important;
}










