<app-spinner [showSpinner]="spinner"></app-spinner>

<mg-title [title]="'LISTA DE REFERIDOS'"></mg-title>
<app-container-search
  [data]="referidos"
  (onSubmitSearch)="onSearch($event)"
></app-container-search>

<div class="sm:block lg:hidden">
  <div class="font-primary text-lg">
    Total registros: {{ data.length }} líderes
  </div>
  <mg-container-grid [hiddenButtons]="true">
    @for (referido of data; track referido.id) {
    <azul-card-contacto
      [titleL]="referido.data.nombres"
      [subTitleL]="referido.data.apellidos"
      [titleR]="referido.data.barrio"
      [subTitleR]="referido.data.iglesia.split('-')[0]"
      [telefono]="referido.data.celular"
    >
    </azul-card-contacto>
    }
  </mg-container-grid>
</div>

@if (data.length > 0) {

<div class="sm:hidden lg:block">

  <div class="flex justify-between items-end">

    <div class="font-primary text-lg">
      Total registros: {{ data.length }} líderes
    </div>
    <div class="p-4">
      <mg-button (onClick)="descargar(data)" icon="cloud_download" text="Descargar"></mg-button>
    </div>

  </div>

  <!-- TABLE  -->

  <div class="relative overflow-x-auto">
    <div>
      <table
        class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
      >
        <thead
          class="text-sm text-white uppercase bg-primary dark:bg-primary dark:text-gray-400 font-primary"
        >
          <tr>
            <th scope="col" class="px-6 py-3 text-center whitespace-nowrap">
              Departamento
            </th>
            <th scope="col" class="px-6 py-3 text-center whitespace-nowrap">
              Municipio
            </th>
            <th scope="col" class="px-6 py-3 text-center whitespace-nowrap">
              Iglesia
            </th>
            <th scope="col" class="px-6 py-3 text-center whitespace-nowrap">
              Documento
            </th>
            <th scope="col" class="px-6 py-3 text-center whitespace-nowrap">
              Nombres
            </th>
            <th scope="col" class="px-6 py-3 text-center whitespace-nowrap">
              Barrio
            </th>
            <th scope="col" class="px-6 py-3 text-center whitespace-nowrap">
              Municipio de votación
            </th>
            <th scope="col" class="px-6 py-3 text-center whitespace-nowrap">
              Lugar de votación
            </th>
            <th scope="col" class="px-6 py-3 text-center whitespace-nowrap">
              Mesa
            </th>
            <th scope="col" class="px-6 py-3 text-center whitespace-nowrap">
              Acciones
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let lider of data"
            class="bg-white border-b  border-gray-200 hover:bg-gray-200"
          >
            <th class="px-6 py-4 text-center whitespace-nowrap text-black">
              {{ lider.data.departamento.split("-")[1] }}
            </th>
            <td class="px-6 py-4 text-center whitespace-nowrap text-black">
              {{ lider.data.municipio.split("-")[1] }}
            </td>
            <td class="px-6 py-4 text-center whitespace-nowrap text-black">
              {{ lider.data.iglesia.split("-")[0] }}
            </td>
            <td class="px-6 py-4 text-center whitespace-nowrap text-black">
              {{ lider.data.documento }}
            </td>
            <td class="px-6 py-4 text-center whitespace-nowrap text-black">
              {{ lider.data.nombres + " " + lider.data.apellidos }}
            </td>
            <td class="px-6 py-4 text-center whitespace-nowrap text-black">
              {{ lider.data.barrio.split('-')[0] }}
            </td>
            <td class="px-6 py-4 text-center whitespace-nowrap text-black">
              {{ lider.data.lugarVotacion ? lider.data.lugarVotacion.municipio.split('-')[1] : null}}
            </td>
            <td class="px-6 py-4 text-center whitespace-nowrap text-black">
              {{ lider.data.lugarVotacion?.lugar }}
            </td>
            <td class="px-6 py-4 text-center whitespace-nowrap text-black">
              {{ lider.data.lugarVotacion?.mesa}}
            </td>
            <td class="px-6 py-4 text-center whitespace-nowrap text-black">
              <div class="flex gap-4">
                <span class="material-icons text-primary">edit</span>
                <span class="material-icons text-primary">delete</span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>

}
