<div class="p-6">
    <mg-title title="Asignar Puesto y Mesa"></mg-title>

    <form [formGroup]="form" (ngSubmit)="save()" class="flex flex-col gap-4 mt-4">

        <mg-input-select label="Puesto de votación" placeholder="Seleccione el puesto de votación"
            [items]="puestosOptions" formControlName="puestodevotacion" [required]="true"
            [showAlert]="!!(form.get('puestodevotacion')?.invalid && form.get('puestodevotacion')?.touched)">
        </mg-input-select>

        <div class="flex gap-4 justify-end mt-4">
            <mg-button type="reset" text="Cancelar" (onClick)="close()"></mg-button>
            <mg-button type="submit" text="Guardar" [disabled]="form.invalid"></mg-button>
        </div>
    </form>
</div>