<app-spinner [showSpinner]="spinner"></app-spinner>

<mg-title [title]="'LISTA DE REFERIDOS'"></mg-title>
<div class="grid grid-cols-12 w-full gap-4">
  <div class="col-span-8">
    <mg-input-text
      class="w-full"
      type="text"
      [(ngModel)]="searchText"
      id="lastNames"
      label="Buscar por nombre o documento"
      (keyup)="onSearch(searchText)"
    ></mg-input-text>
  </div>
  <div class="col-span-4 flex items-center justify-end">
    <mg-button
      (onClick)="clear()"
      icon="cloud_download"
      text="Limpiar"
      type="reset"
    ></mg-button>
  </div>
</div>



<div class="flex justify-between items-end">
  <div class="font-primary text-lg">
    Total registros: {{ referidos.length }} líderes
  </div>
  <div class="p-4">
    <mg-button
      (onClick)="descargar(referidos)"
      icon="cloud_download"
      text="Descargar"
    ></mg-button>
  </div>
</div>

<!-- <mat-paginator
  #paginator
  class="demo-paginator"
  (page)="handlePageEvent($event)"
  [length]="length"
  [pageSize]="pageSize"
  [disabled]="disabled"
  [showFirstLastButtons]="showFirstLastButtons"
  [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
  [hidePageSize]="hidePageSize"
  [pageIndex]="pageIndex"
  aria-label="Select page"
>
</mat-paginator> -->

<div class="sm:hidden lg:block">
  <div class="relative overflow-x-auto">
    <div>
      <table
        class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
      >
        <thead
          class="text-sm text-white uppercase bg-primary dark:bg-primary dark:text-gray-400 font-primary"
        >
          <tr>
            <th scope="col" class="px-6 py-3 text-center whitespace-nowrap">
              Documento
            </th>
            <th scope="col" class="px-6 py-3 text-center whitespace-nowrap">
              Nombres
            </th>
            <th scope="col" class="px-6 py-3 text-center whitespace-nowrap">
              Lugar de votación
            </th>
            <th scope="col" class="px-6 py-3 text-center whitespace-nowrap">
              Mesa
            </th>
            <th scope="col" class="px-6 py-3 text-center whitespace-nowrap">
              Acciones
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let referido of referidos"
            class="bg-white border-b border-gray-200 hover:bg-gray-200"
          >
            <td class="px-6 py-4 text-center whitespace-nowrap text-black">
              {{ referido.id }}
            </td>
            <td class="px-6 py-4 text-center whitespace-nowrap text-black">
              {{ referido.data.nombres + " " + referido.data.apellidos }}
            </td>
            <td class="px-6 py-4 text-center whitespace-nowrap text-black">
              {{ referido.data.lugarVotacion }}
            </td>
            <td class="px-6 py-4 text-center whitespace-nowrap text-black">
              {{ referido.data.mesaVotacion }}
            </td>
            <td class="px-6 py-4 text-center whitespace-nowrap text-black">
              <div class="flex items-center justify-center gap-4">
                <span class="material-icons text-primary cursor-pointer" [routerLink]="['../editar-referido', referido.id]">edit</span>
                <!-- <span class="material-icons text-primary cursor-pointer">delete</span> -->

              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- <input type="file" (change)="onFileChange($event)" /> -->
