<app-spinner [showSpinner]="spinner"></app-spinner>
<lida-confirm-action [showModal]="showModal" [data]="dataModal"
  (eventConfirm)="eliminar(dataModal.id)"></lida-confirm-action>

<!-- <mg-title [title]="'LISTA DE REFERIDOS'"></mg-title> -->
<div class="flex justify-around gap-1 gap-y-2 overflow-x-auto p-2" style="flex-wrap: nowrap;">


  <span
    [class]="optionSelected === 'Cedula' ? 'bg-blue-200 border border-blue-800 text-blue-700 text-xs font-medium me-2 px-2.5 py-0.5 rounded-md cursor-pointer' : 'bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-md cursor-pointer'"
    (click)="buscarIndividual('Cedula')" (keydown)="buscarIndividual('Cedula')">Cédula</span>
  <span
    [class]="optionSelected === 'Nombre' ? 'bg-blue-200 border border-blue-800 text-blue-700 text-xs font-medium me-2 px-2.5 py-0.5 rounded-md cursor-pointer' : 'bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-md cursor-pointer'"
    (click)="buscarIndividual('Nombre')" (keydown)="buscarIndividual('Nombre')">Nombre</span>

  <span *ngIf="usuario.rol === 'Pastor' || usuario.rol === 'Super usuario'"
    [class]="optionSelected === 'Todos' ? 'bg-blue-200 border border-blue-800 text-blue-700 text-xs font-medium me-2 px-2.5 py-0.5 rounded-md cursor-pointer' : 'bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-md cursor-pointer'"
    (click)="getAllReferidos()" (keydown)="getAllReferidos()">Todos</span>

</div>
<form [formGroup]="formRef" class="flex justify-center mt-4 items-center gap-2">
  <mg-input-text *ngIf="optionSelected == 'Cedula'" class="w-full" type="text" formControlName="documento"
    id="documento" label="Buscar por cédula"></mg-input-text>
  <button *ngIf="optionSelected == 'Cedula'" mat-icon-button (click)="selectDocument(formRef.get('documento')?.value)"
    class="bg-blue-500 text-white rounded-full p-2 hover:bg-blue-600 transition-colors h-10 w-10 flex items-center justify-center mb-6">
    <span class="material-icons">search</span>
  </button>
</form>
<div class="grid md:grid-cols-1 lg:grid-cols-12 w-full gap-2" *ngIf="optionSelected == 'Nombre'">
  <form [formGroup]="formRef" class="lg:col-span-8 flex items-center gap-2">
    <mg-input-text class="w-full" type="text" formControlName="documento" id="documentoOrName"
      label="Buscar por nombre"></mg-input-text>
    <button mat-icon-button (click)="selectDocument(formRef.get('documento')?.value)"
      class="bg-blue-500 text-white rounded-full p-2 hover:bg-blue-600 transition-colors h-10 w-10 flex items-center justify-center mb-6">
    <span class="material-icons">search</span>
    </button>
  </form>
</div>
<div *ngIf="optionSelected == 'Todos' && usuario.rol === 'Super usuario'"
  class="lg:col-span-4 flex items-center sm:justify-around">
  <mg-button (onClick)="clear()" [text]="btnRecargar ? 'Mostrar todos' : 'Limpiar'" type="reset"></mg-button>
  <div class="p-4" *ngIf="usuario.rol == 'Super usuario'">
    <mg-button (onClick)="descargar(referidos)" icon="cloud_download" text="Descargar"></mg-button>
  </div>
</div>



<div *ngIf="(formRef.value.documento || optionSelected == 'Todos') && optionSelected != 'Cedula'"
  class="flex justify-center p-1">
  <mg-paginator [length]="1000" [pageSize]="pageSize" [isFirstPage]="isFirstPage" [isLastPage]="isLastPage"
    (previous)="prevPage()" (next)="nextPage()" (page)="onPageEvent($event)">
  </mg-paginator>
</div>


@for (referido of referidos; track $index) {
<lida-person-info class="sm:block lg:hidden" [esInterno]="referido.data.isInterno"
  [title]="referido.data.nombres + ' ' + referido.data.apellidos" [textInfo]="referido.id!" (eventEdit)="edit(referido)"
  [textInfo2]="referido.data.cantidadReferidos ? referido.data.cantidadReferidos : 'Ver referidos'"
  (evenFilterReferidos)="referido.data.cantidadReferidos ? filterReferidos(referido.id!, referido.data.nombres + ' ' + referido.data.apellidos) : misReferidos(referido.id!)"
  [textInfo3]="" [textInfo4]="
    referido.fechaModificacion
      ? referido.fechaModificacion.split('T')[0]
      : referido.fechaCreacion.split('T')[0]
  " [canDelete]="usuario.rol === 'Pastor'" (eventDelete)="
    openModal({
      name: referido.data.nombres + ' ' + referido.data.apellidos,
      id: referido.id!
    })
  " [badge]="referido.data.senado ? true : false" [badge2]="referido.data.camara ? true : false" [votacion]="
    referido.data.lugarVotacion && referido.data.mesaVotacion ? true : false
  "></lida-person-info>
}

<div class="sm:hidden lg:block">
  <div class="relative overflow-x-auto">
    <div>
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 ">
        <thead class="text-sm text-white uppercase bg-primary  font-primary">
          <tr>
            <th scope="col" class="px-6 py-3 text-center whitespace-nowrap">
              Documento
            </th>
            <th scope="col" class="px-6 py-3 text-center whitespace-nowrap">
              Nombres
            </th>
            <th scope="col" class="px-6 py-3 text-center whitespace-nowrap">
              Lugar de votación
            </th>
            <th scope="col" class="px-6 py-3 text-center whitespace-nowrap">
              Mesa
            </th>
            <th scope="col" class="px-6 py-3 text-center whitespace-nowrap">
              Acciones
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let referido of referidos" class="bg-white border-b border-gray-200 hover:bg-gray-200">
            <td class="px-6 py-4 text-center whitespace-nowrap text-black">
              {{ referido.id }}
            </td>
            <td class="px-6 py-4 text-center whitespace-nowrap text-black">
              {{ referido.data.nombres + " " + referido.data.apellidos }}
            </td>
            <td class="px-6 py-4 text-center whitespace-nowrap text-black">
              {{ referido.data.lugarVotacion }}
            </td>
            <td class="px-6 py-4 text-center whitespace-nowrap text-black">
              {{ referido.data.mesaVotacion }}
            </td>
            <td class="px-6 py-4 text-center whitespace-nowrap text-black">
              <div class="flex items-center justify-center gap-4">
                <span class="material-icons text-primary cursor-pointer"
                  [routerLink]="['../editar-referido', referido.id]">edit</span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>