<div class="flex items-center p-4 bg-white shadow-md rounded-lg hover:shadow-lg transition-shadow cursor-pointer border-l-4 border-primary hover:border-oro">
  <div class="flex-shrink-0 mr-4">
    <div class="flex h-12 w-12 items-center justify-center rounded-full bg-primary text-white">
      <span class="material-symbols-outlined text-2xl">{{ icon }}</span>
    </div>
  </div>
  <div class="flex flex-col justify-center text-center w-full">
    <span class="text-lg font-semibold text-primary font-primary">{{ title }}</span>
    <span class="text-sm text-gray-600 font-primary">{{ description }}</span>
  </div>
</div>
