<div class="bg-white min-w-[100px] rounded-md border border-gray-300 shadow-md">
  <div class="grid grid-cols-2 p-2">
    <div class="flex flex-col">
      <span class="font-medium text-primary text-md font-primary sm:text-md lg:text-lg">{{titleL}}</span>
      <span class="font-secundary text-gray-500 text-xs">{{subTitleL}}</span>
    </div>
    <div class="flex flex-col">
      <span class="font-medium text-primary text-md font-primary sm:text-md lg:text-lg text-end">{{titleR}}</span>
      <span class="font-secundary text-gray-500 text-xs text-end">{{subTitleR}}</span>
    </div>

  </div>
  <hr>
  <div class="grid grid-cols-3 text-center items-center justify-center p-2">
    <span class="material-symbols-outlined text-md">call</span>
    <span class="material-symbols-outlined text-md border-r border-l border-gray-300">forum</span>
    <span class="material-symbols-outlined text-md">edit</span>

  </div>

</div>



<!-- <div class="bg-white rounded-lg shadow-md min-w-[330px] h-[163px]">
  <div class="grid grid-cols-2 p-3 items-baseline">
    <div>
      <p class="font-bold text-gray-900 text-md font-poetsen text-nowrap">{{titleL}}</p>
      <p class="font-kalam text-gray-500 text-sm">{{subTitleL}}</p>
    </div>
    <div class="text-end">
      <p class="mb-0 font-bold text-gray-900 text-md font-poetsen text-nowrap">{{titleR}}</p>
      <p class="font-kalam text-gray-500 text-sm">{{subTitleR}}</p>
    </div>
  </div>
  <div class="w-full p-3">
    <div class="overflow-hidden text-ellipsis">
      <p class="font-kalam text-gray-500 text-sm text-center text-nowrap">{{description}}</p>
    </div>
  </div>
  <hr />
  <div class="flex flex-row items-end columns-2">
      <button
        class="w-full flex flex-row justify-center items-center align-baseline"
      >
      <span class="material-symbols-outlined text-md">forum</span>
      </button>
    <div class="w-full border-r-2 p-1">
      <button
        class="w-full flex flex-row justify-center items-center align-baseline"
      >
      <span class="material-symbols-outlined text-md">call</span>
        <div>
          <div class="ml-2 mt-3 text-center w-full"></div>
        </div>
      </button>
    </div>
    <div class="w-full p-1">
      <button
        class="w-full flex flex-row justify-center items-center align-baseline"
        [routerLink]="['/referido', id]"
      >
      <span class="material-symbols-outlined text-md">edit</span>

        <div>
          <div class="ml-2 mt-3 text-center w-full"></div>
        </div>
      </button>
    </div>
  </div>
</div> -->
