<form [formGroup]="form">
    <div class="grid sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-4 sm:mt-3 lg:mt-5 sm:p-3 justify-between">
      <mg-input-select
      formControlName="filter"
      [label]="'Filtrar por'"
      id="filter"
      [items]="filter"
      ></mg-input-select>

      @if (form.value.filter != 'todo') {
        <mg-input-select
        formControlName="atribute"
        [label]="'Seleccionar opción'"
        id="filter"
        [items]="atribute"
        ></mg-input-select>
      }

      <div class="flex flex-row-reverse justify-center gap-4 sm:pt-5 lg:pt-4">
        <mg-button [text]="'Buscar'" [disabled]="form.invalid" (onClick)="onSubmit()"></mg-button>
        <mg-button [text]="'Limpiar'" [type]="'reset'" (onClick)="clear()"></mg-button>
      </div>

    </div>
</form>



