<mg-title title="Listar Testigos"></mg-title>

<div class="w-full p-2">
  <span class="text-sm text-gray-500 dark:text-gray-400">Total testigos: {{testigos.length}}</span>
</div>

@for (referido of testigos; track $index) {
<lida-person-info [title]="referido.data.nombre + ' ' + referido.data.apellido" [textInfo]="referido.id!"
  (eventEdit)="edit(referido)" [icon2]="'clear'" [textInfo2]="''" [textInfo3]="'Última actualización'"
  [textInfo4]="referido.fechaModificacion ? referido.fechaModificacion.split('T')[0] : referido.fechaCreacion.split('T')[0]"
  [canDelete]="true"
  (eventDelete)="openModal({name: referido.data.nombre + ' ' + referido.data.apellido, id: referido.id!})"
  [votacion]="referido.data.puestodevotacion && referido.data.mesadevotacion ? true : false"></lida-person-info>
}