<mg-title [title]="'Crear iglesia'"></mg-title>
<div class="flex justify-center w-full">
  <span class="text-center w-full">Antes de crear tu iglesia, valida que no exista</span>
</div>

<form [formGroup]="form">
  <mg-container-grid (onSubmit)="onSubmit()" [loading]="loading" [disabled]="form.invalid">
    <mg-input-select label="Municipio" [items]="municipios" formControlName="municipio" id="municipio">
    </mg-input-select>
    <mg-input-text type="text" formControlName="nombre" label="Nombre de la iglesia" id="name"></mg-input-text>
  </mg-container-grid>
</form>

<div class="mt-10">
  <mg-sub-title title="Lista de iglesias"></mg-sub-title>
</div>

<div class="flex justify-between items-center mt-4">
  <div class="font-primary text-lg">
    Total de registros: {{ length }} iglesias
  </div>
  <div class="w-1/3">
    <mg-input-text [formControl]="searchControl" label="Buscar iglesia"
      placeholder="Buscar por nombre, departamento o municipio" id="search-iglesia"></mg-input-text>
  </div>
</div>

<div *ngIf="paginatedData.length > 0; else noData" class="relative overflow-x-auto mt-4">
  <div>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-sm text-white uppercase bg-primary dark:bg-primary dark:text-gray-400 font-primary">
        <tr>
          <th scope="col" class="px-6 py-3 text-center whitespace-nowrap">
            Municipio
          </th>
          <th scope="col" class="px-6 py-3 text-center whitespace-nowrap">
            Nombre
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let iglesia of paginatedData"
          class="bg-white border-b dark:bg-base dark:border-gray-700 border-gray-200 hover:bg-gray-300">
          <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-black text-center">
            {{ iglesia.data.municipio }}
          </th>
          <td class="px-6 py-4 text-center whitespace-nowrap text-black">
            {{ iglesia.data.nombre }}
          </td>
        </tr>
      </tbody>
    </table>
    <mg-paginator [length]="length" [pageSize]="pageSize" [pageIndex]="pageIndex" [pageSizeOptions]="pageSizeOptions"
      [showPageSizeOptions]="true" (page)="onPageChange($event)">
    </mg-paginator>
  </div>
</div>

<ng-template #noData>
  <div *ngIf="!spinner && iglesias.length > 0" class="text-center mt-4 text-gray-500">
    No se encontraron iglesias con el criterio de búsqueda.
  </div>
  <div *ngIf="!spinner && iglesias.length === 0" class="text-center mt-4 text-gray-500">
    No hay iglesias registradas.
  </div>
</ng-template>

<app-spinner [showSpinner]="spinner"></app-spinner>