<div class="flex flex-col p-5 gap-3 justify-center items-center bg-white rounded-lg shadow-md">
  <mg-title title="Crear nuevo usuario"></mg-title>
  <form [formGroup]="form">
    <div>
      <mg-input-text
        type="email"
        formControlName="email"
        label="Correo electrónico del nuevo usuario"
        id="email"
      ></mg-input-text>
      <mg-input-text
        type="password"
        formControlName="password"
        label="Crear clave de acceso"
        id="password"
      ></mg-input-text>
      <span *ngIf="form.get('password')?.touched && form.get('password')?.invalid" class="font-primary">
        La contraseña debe contener mayúsculas, minúsculas y números
      </span>
    </div>
    <div class="flex sm:flex-col md:flex-row items-center justify-center gap-4 my-4">
      <mg-button
        text="Crear usuario"
        [disabled]="form.invalid"
        (onClick)="createUser()"
      ></mg-button>
      <mg-button text="Regresar" [type]="'reset'" (onClick)="back()"></mg-button>
    </div>

    <div class="p-4">
      <p class="text-center">
        Nota: Recuerda que el usuario debe cambiar su contraseña en el futuro
      </p>
    </div>
  </form>
</div>