<div class="p-4 bg-white rounded-lg shadow-md mb-4">
    <form [formGroup]="form">
        <mg-input-select [items]="iglesias" label="Seleccione Iglesia" placeholder="Seleccione una iglesia"
            formControlName="iglesia"></mg-input-select>
    </form>
</div>

<label *ngIf="comunas.length == 0"
    class="flex flex-col items-center justify-center w-full h-32 border-2 border-dashed rounded-lg cursor-pointer bg-gray-50 hover:bg-gray-100 transition">
    <div class="flex flex-col items-center justify-center pt-5 pb-6">
        <span class="material-symbols-outlined text-gray-400 py-2">
            cloud_upload
        </span>

        <p class="mb-2 text-sm text-gray-500">
            <span class="font-semibold text-center">Haz clic para subir el archivo Comunas/Barrios</span>
        </p>
        <p class="text-xs text-gray-500">Debes utilizar la plantilla y seleccionar una iglesia</p>
    </div>
    <input type="file" class="hidden" (change)="onFileChange($event)" [disabled]="form.invalid" />
</label>

<div class="p-4 flex justify-center gap-4">
    <mg-button *ngIf="comunas.length == 0" (onClick)="descargar()" icon="cloud_download" text="Plantilla"></mg-button>
    <mg-button *ngIf="comunas.length > 0" [loading]="loading" (onClick)="save()" icon="save"
        text="Guardar masivo"></mg-button>
    <mg-button *ngIf="comunas.length > 0" (onClick)="clear()" icon="clear" text="Borrar recarga"
        type="reset"></mg-button>
</div>

<div class="sm:block lg:hidden">
    <app-container-alert-information type="warning" title="¡Atención!">
        Esta funcionalidad es de uso exclusivo para computadores.
    </app-container-alert-information>
</div>

<div *ngIf="comunas.length > 0" class="flex gap-4 mb-2">
    <span>Total de registros: {{ comunas.length }}</span>
    <span>Guardados: {{ contador }}</span>
</div>

<div class="sm:hidden lg:block" *ngIf="comunas.length > 0">
    <div class="relative overflow-x-auto">
        <table class="w-full text-sm text-left text-gray-500">
            <thead class="text-sm text-white uppercase bg-primary font-primary">
                <tr>
                    <th scope="col" class="px-6 py-3 text-center">Departamento</th>
                    <th scope="col" class="px-6 py-3 text-center">Municipio</th>
                    <th scope="col" class="px-6 py-3 text-center">Comuna</th>
                    <th scope="col" class="px-6 py-3 text-center">Barrio</th>
                    <th scope="col" class="px-6 py-3 text-center">Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of comunas" class="bg-white border-b hover:bg-gray-200">
                    <td class="px-6 py-4 text-center text-black">{{ item.departamento }}</td>
                    <td class="px-6 py-4 text-center text-black">{{ item.municipio }}</td>
                    <td class="px-6 py-4 text-center text-black">{{ item.comuna }}</td>
                    <td class="px-6 py-4 text-center text-black">{{ item.barrio }}</td>
                    <td class="px-6 py-4 text-center text-black">
                        <span class="material-icons text-primary" *ngIf="item.guardado === true">done</span>
                        <span class="material-icons text-red-500" *ngIf="item.guardado === 'error'">error</span>
                        <span class="material-icons text-gray-400" *ngIf="item.guardado === false">pending</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>