<div
  class="w-full h-16 flex justify-between items-center z-50 fixed bottom-0 bg-primary pt-3"
>
  <app-button-footer
    class="w-full flex justify-center"
    [option]="'Listado'"
    [icon]="'people'"
    [goTo]="'./listar-referidos'"
  ></app-button-footer>
  <app-button-footer
    class="w-full flex justify-center"
    [option]="'Home'"
    [icon]="'home'"
    [goTo]="'./home'"
  ></app-button-footer>
  <app-button-footer
    class="w-full flex justify-center"
    [option]="'Agregar'"
    [icon]="'person_add'"
    [goTo]="'./crear-referido'"
  ></app-button-footer>
  <!-- <app-button
  [option]="'Carros'"
  [icon]="'directions_car'"
  [goTo]="'./drivers'"
  (click)="changeTitle('Conductores')"
></app-button>
  <app-button
    [option]="'Puestos'"
    [icon]="'how_to_vote'"
    [goTo]="'./puestos'"
    (click)="changeTitle('Puestos de votación')"
  ></app-button>
  <app-button
    [option]="'Testigos'"
    [icon]="'remove_red_eye'"
    [goTo]="'./witnesses'"
    (click)="changeTitle('Testigos')"
  ></app-button> -->
</div>
