<div
  class="w-full h-16 flex justify-between items-center z-40 fixed bottom-0 bg-primary pt-3"
>

  <app-button-footer
    class="w-full flex justify-center"
    [option]="'Referidos'"
    [icon]="'view_list'"
    [goTo]="'./listar-referidos'"
  ></app-button-footer>
    <app-button-footer
    class="w-full flex justify-center"
    [option]="'Home'"
    [icon]="'home'"
    [goTo]="'./home'"
  ></app-button-footer>
  <app-button-footer
    *ngIf="usuario.rol == 'Líder' || usuario.rol == 'Coordinador de iglesia' || usuario.rol == 'Pastor' || usuario.rol == 'Super usuario'"
    class="w-full flex justify-center"
    [option]="'Referido'"
    [icon]="'person_add'"
    [goTo]="'./crear-referido'"
  ></app-button-footer>
  <!-- <app-button-footer
    class="w-full flex justify-center"
    [option]="'Testigos'"
    [icon]="'record_voice_over'"
    [goTo]="'./testigos'"
  ></app-button-footer> -->
</div>
