<app-spinner [showSpinner]="spinner"></app-spinner>

<mg-title [title]="'LISTA DE LÍDERES'"></mg-title>
<app-container-search [data]="lideres" (onSubmitSearch)="onSearch($event)"></app-container-search>

<mg-container-grid [hiddenButtons]="true">
  @for (lider of data; track lider.id) {
  <azul-card-contacto
    [titleL]="lider.data.nombres"
    [subTitleL]="lider.data.apellidos"
    [titleR]="lider.data.barrio"
    [subTitleR]="lider.data.iglesia.split('-')[0]"
  >
  </azul-card-contacto>
  }
</mg-container-grid>
