<span class="mt-4 font-primary font-bold text-center text-[24px] ">Apoyo vehícular</span>
<mat-dialog-content>
  <p class="text-center font-primary">Seleccione la opcion que desea</p>
</mat-dialog-content>
<mat-dialog-actions class="w-full flex flex-col gap-4">
  <mg-button mat-dialog-close  size="big" text="Mi vehículo" class="w-full" icon="directions_car" routerLink="/private/mi-vehiculo"></mg-button>
  @if(this.usuario.rol === 'Pastor' || this.usuario.rol === 'Super Usuario' || this.usuario.rol === 'Coordinador de iglesia') {
    <mg-button  mat-dialog-close  size="big" text="Vehículos inscritos" class="w-full" icon="list"></mg-button>
  }
  @if(this.usuario.rol === 'Pastor' || this.usuario.rol === 'Super Usuario' || this.usuario.rol === 'Coordinador de iglesia') {
    <mg-button mat-dialog-close  size="big" text="Inscribir vehiculo" class="w-full" icon="list" routerLink="/private/inscribir-vehiculos"></mg-button>
  }
  <button mat-button (click)="onNoClick()">Cerrar</button>
</mat-dialog-actions>
