<div class="border border-gray-200 shadow-md hover:shadow-lg rounded-lg bg-white w-full p-4 relative transition-shadow duration-300">
  <div class="flex justify-between items-start gap-3">
    <!-- Info Section -->
    <div class="flex-1 min-w-0">
      <span class="text-md text-gray-800 truncate font-bold">
       {{ comuna.data.barrio }}
      </span>

      <div class="mt-2 flex flex-col gap-1">
        <!-- Comuna -->
        <p class="text-sm text-gray-600 flex items-center gap-2">
          <mat-icon class="!text-[18px] !w-[18px] !h-[18px] text-gray-400 flex items-center justify-center leading-none">home</mat-icon>
          <span class="truncate">Comuna: {{ comuna.data.comuna }}</span>
        </p>
        <!-- Municipio -->
        <p class="text-sm text-gray-600 flex items-center gap-2">
          <mat-icon class="!text-[18px] !w-[18px] !h-[18px] text-gray-400 flex items-center justify-center leading-none">location_city</mat-icon>
          <span class="truncate">Municipio: {{ comuna.data.municipio.split(' - ')[1] }}</span>
        </p>

        <!-- Departamento -->
        <p class="text-sm text-gray-600 flex items-center gap-2">
          <mat-icon class="!text-[18px] !w-[18px] !h-[18px] text-gray-400 flex items-center justify-center leading-none">share_location</mat-icon>
          <span class="truncate">Departamento: {{ comuna.data.departamento.split(' - ')[1] }}</span>
        </p>
      </div>
    </div>
  </div>
</div>
