<div class="flex flex-wrap justify-center items-center gap-10 mt-4 p-4">
  <app-card-estadisticas class="mb-5" [number]="totalRegistros" [info]="'Referidos'"></app-card-estadisticas>
  <app-card-estadisticas class="mb-5" [number]="totalInternos" [info]="'Internos'"></app-card-estadisticas>
  <app-card-estadisticas class="mb-5" [number]="totalExternos" [info]="'Externos'"></app-card-estadisticas>
  <app-card-estadisticas class="mb-5" [number]="emprendedores" [info]="'Emprendedores'"></app-card-estadisticas>
  <app-card-estadisticas class="mb-5" [number]="senado" [info]="'Senado'"></app-card-estadisticas>
  <app-card-estadisticas class="mb-5" [number]="camara" [info]="'Cámara'"></app-card-estadisticas>
  <app-card-estadisticas class="mb-5" [number]="sinPuesto" [info]="'Sin puesto'"></app-card-estadisticas>
</div>

