@if(showSpinner) {
<div class="fixed top-0 left-0 z-[99999] w-screen h-dvh bg-slate-200/50 flex flex-col justify-center items-center">
  <div class="relative">
    <span class="material-symbols-outlined animate-spin text-primary font-extralight text-9xl">
      progress_activity
    </span>
    <span class="material-symbols-outlined animate-spin text-tertiary font-normal text-[104px] absolute top-3 left-3">
      progress_activity
    </span>
  </div>
  <span class="text-center font-primary text-2xl mt-4">Cargando información...</span>
</div>

}