<div class="mt-8">
<mg-title [title]="title"></mg-title>
  <span class="font-primary text-gray-500 flex w-full justify-center">Administrar (Crear, ver, editar, eliminar)</span>

  <form action="" [formGroup]="formPermisos" class="flex flex-col gap-10">
  <!-- USUARIOS -->
    <div>
      <mg-sub-title title="Adminitración de usuarios"></mg-sub-title>
      <mg-container-grid [hiddenButtons]="true">
        <label class="inline-flex gap-2 items-center justify-between md:border-r border-gray-400 sm:border-b p-2 cursor-pointer min-w-3">
          <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Admin todos los usuarios</span>
          <input type="checkbox" value="" class="sr-only peer" formControlName="usuariosTodos">
          <div class="relative w-11 h-6 bg-red-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-yellow-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600 dark:peer-checked:bg-tertiary"></div>
        </label>
        <label class="inline-flex gap-2 items-center justify-between md:border-r border-gray-400 sm:border-b p-2 cursor-pointer min-w-3">
          <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Admin usuarios por departamento</span>
          <input type="checkbox" value="" class="sr-only peer" formControlName="usuariosDepartamento">
          <div class="relative w-11 h-6 bg-red-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-yellow-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600 dark:peer-checked:bg-tertiary"></div>
        </label>
        <label class="inline-flex gap-2 items-center justify-between md:border-r border-gray-400 sm:border-b p-2 cursor-pointer min-w-3">
          <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Admin usuarios por municipio</span>
          <input type="checkbox" value="" class="sr-only peer" formControlName="usuariosMunicipio">
          <div class="relative w-11 h-6 bg-red-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-yellow-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600 dark:peer-checked:bg-tertiary"></div>
        </label>
        <label class="inline-flex gap-2 items-center justify-between md:border-r border-gray-400 sm:border-b p-2 cursor-pointer min-w-3">
          <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Admin usuarios por iglesia</span>
          <input type="checkbox" value="" class="sr-only peer" formControlName="usuariosIglesia">
          <div class="relative w-11 h-6 bg-red-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-yellow-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600 dark:peer-checked:bg-tertiary"></div>
        </label>
        <label class="inline-flex gap-2 items-center justify-between md:border-r border-gray-400 sm:border-b p-2 cursor-pointer min-w-3">
          <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Admin usuarios por comuna</span>
          <input type="checkbox" value="" class="sr-only peer" formControlName="usuariosComuna">
          <div class="relative w-11 h-6 bg-red-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-yellow-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600 dark:peer-checked:bg-tertiary"></div>
        </label>
      </mg-container-grid>
    </div>


    <!-- REFERIDOS -->
  <div>
    <mg-sub-title title="Administración de referidos"></mg-sub-title>
    <mg-container-grid [hiddenButtons]="true">
      <label class="inline-flex gap-2 items-center justify-between md:border-r border-gray-400 sm:border-b p-2 cursor-pointer min-w-3">
        <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Admin todos los referidos</span>
        <input type="checkbox" value="" class="sr-only peer" formControlName="referidosTodos">
        <div class="relative w-11 h-6 bg-red-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-yellow-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600 dark:peer-checked:bg-tertiary"></div>
      </label>
      <label class="inline-flex gap-2 items-center justify-between md:border-r border-gray-400 sm:border-b p-2 cursor-pointer min-w-3">
        <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Admin referidos por departamento</span>
        <input type="checkbox" value="" class="sr-only peer" formControlName="referidosDepartamento">
        <div class="relative w-11 h-6 bg-red-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-yellow-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600 dark:peer-checked:bg-tertiary"></div>
      </label>
      <label class="inline-flex gap-2 items-center justify-between md:border-r border-gray-400 sm:border-b p-2 cursor-pointer min-w-3">
        <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Admin referidos por municipio</span>
        <input type="checkbox" value="" class="sr-only peer" formControlName="referidosMunicipio">
        <div class="relative w-11 h-6 bg-red-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-yellow-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600 dark:peer-checked:bg-tertiary"></div>
      </label>
      <label class="inline-flex gap-2 items-center justify-between md:border-r border-gray-400 sm:border-b p-2 cursor-pointer min-w-3">
        <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Admin referidos por iglesia</span>
        <input type="checkbox" value="" class="sr-only peer" formControlName="referidosIglesia">
        <div class="relative w-11 h-6 bg-red-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-yellow-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600 dark:peer-checked:bg-tertiary"></div>
      </label>
      <label class="inline-flex gap-2 items-center justify-between md:border-r border-gray-400 sm:border-b p-2 cursor-pointer min-w-3">
        <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Admin referidos por comuna</span>
        <input type="checkbox" value="" class="sr-only peer" formControlName="referidosComuna">
        <div class="relative w-11 h-6 bg-red-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-yellow-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600 dark:peer-checked:bg-tertiary"></div>
      </label>
    </mg-container-grid>
  </div>

    <!-- PERMISOS  -->

    <div>
      <mg-sub-title title="Administración de permisos"></mg-sub-title>
      <mg-container-grid [hiddenButtons]="true">
        <label class="inline-flex gap-2 items-center justify-between md:border-r border-gray-400 sm:border-b p-2 cursor-pointer min-w-3">
          <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Admin todos los permisos</span>
          <input type="checkbox" value="" class="sr-only peer" formControlName="permisosTodos">
          <div class="relative w-11 h-6 bg-red-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-yellow-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600 dark:peer-checked:bg-tertiary"></div>
        </label>
        <label class="inline-flex gap-2 items-center justify-between md:border-r border-gray-400 sm:border-b p-2 cursor-pointer min-w-3">
          <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Admin permisos por departamento</span>
          <input type="checkbox" value="" class="sr-only peer" formControlName="permisosDepartamento">
          <div class="relative w-11 h-6 bg-red-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-yellow-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600 dark:peer-checked:bg-tertiary"></div>
        </label>
        <label class="inline-flex gap-2 items-center justify-between md:border-r border-gray-400 sm:border-b p-2 cursor-pointer min-w-3">
          <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Admin permisos por municipio</span>
          <input type="checkbox" value="" class="sr-only peer" formControlName="permisosMunicipio">
          <div class="relative w-11 h-6 bg-red-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-yellow-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600 dark:peer-checked:bg-tertiary"></div>
        </label>
        <label class="inline-flex gap-2 items-center justify-between md:border-r border-gray-400 sm:border-b p-2 cursor-pointer min-w-3">
          <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Admin permisos por iglesia</span>
          <input type="checkbox" value="" class="sr-only peer" formControlName="permisosIglesia">
          <div class="relative w-11 h-6 bg-red-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-yellow-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600 dark:peer-checked:bg-tertiary"></div>
        </label>
        <label class="inline-flex gap-2 items-center justify-between md:border-r border-gray-400 sm:border-b p-2 cursor-pointer min-w-3">
          <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Admin permisos por comuna</span>
          <input type="checkbox" value="" class="sr-only peer" formControlName="permisosComuna">
          <div class="relative w-11 h-6 bg-red-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-yellow-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600 dark:peer-checked:bg-tertiary"></div>
        </label>
      </mg-container-grid>
    </div>



    <!-- IGLESIAS  -->

    <div>
      <mg-sub-title title="Administración de iglesias"></mg-sub-title>
      <mg-container-grid [hiddenButtons]="true">
        <label class="inline-flex gap-2 items-center justify-between md:border-r border-gray-400 sm:border-b p-2 cursor-pointer min-w-3">
          <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Crear iglesias</span>
          <input type="checkbox" value="" class="sr-only peer" formControlName="crearIglesias">
          <div class="relative w-11 h-6 bg-red-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-yellow-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600 dark:peer-checked:bg-tertiary"></div>
        </label>
        <label class="inline-flex gap-2 items-center justify-between md:border-r border-gray-400 sm:border-b p-2 cursor-pointer min-w-3">
          <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Editar  iglesias</span>
          <input type="checkbox" value="" class="sr-only peer" formControlName="editarIglesias">
          <div class="relative w-11 h-6 bg-red-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-yellow-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600 dark:peer-checked:bg-tertiary"></div>
        </label>
        <label class="inline-flex gap-2 items-center justify-between md:border-r border-gray-400 sm:border-b p-2 cursor-pointer min-w-3">
          <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Eliminar iglesias</span>
          <input type="checkbox" value="" class="sr-only peer" formControlName="eliminarIglesias">
          <div class="relative w-11 h-6 bg-red-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-yellow-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600 dark:peer-checked:bg-tertiary"></div>
        </label>
      </mg-container-grid>
    </div>


    <!-- COMUNAS  -->

    <div>
      <mg-sub-title title="Administración de comunas"></mg-sub-title>
      <mg-container-grid (onSubmit)="onSubmit()">
        <label class="inline-flex gap-2 items-center justify-between md:border-r border-gray-400 sm:border-b p-2 cursor-pointer min-w-3">
          <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Crear comunas</span>
          <input type="checkbox" value="" class="sr-only peer" formControlName="crearComunas">
          <div class="relative w-11 h-6 bg-red-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-yellow-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600 dark:peer-checked:bg-tertiary"></div>
        </label>
        <label class="inline-flex gap-2 items-center justify-between md:border-r border-gray-400 sm:border-b p-2 cursor-pointer min-w-3">
          <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Editar comunas</span>
          <input type="checkbox" value="" class="sr-only peer" formControlName="editarComunas">
          <div class="relative w-11 h-6 bg-red-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-yellow-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600 dark:peer-checked:bg-tertiary"></div>
        </label>
        <label class="inline-flex gap-2 items-center justify-between md:border-r border-gray-400 sm:border-b p-2 cursor-pointer min-w-3">
          <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Eliminar comunas</span>
          <input type="checkbox" value="" class="sr-only peer" formControlName="eliminarComunas">
          <div class="relative w-11 h-6 bg-red-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-yellow-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600 dark:peer-checked:bg-tertiary"></div>
        </label>
      </mg-container-grid>
    </div>
  </form>


</div>

