<div
  class="shadow-lg hover:shadow-2xl sm:p-2 lg:p-4 pl-5 rounded-lg bg-white w-full h-20 flex items-center cursor-pointer lg:hover:-translate-y-1 relative"
>
  <span
    *ngIf="activePoint"
    class="animate-ping absolute inline-flex h-[10px] w-[10px] rounded-full bg-green-600 top-[-2px] right-[-2px]"
  ></span>
  <div class="grid grid-cols-5 gap-4 w-full">
    <div class="grid justify-center items-center">
      <div
        class="flex h-10 w-10 items-center justify-center rounded-lg bg-primary border-2 border-oro"
      >
        <span class="material-symbols-outlined text-white font-light">
          {{ icon }}
        </span>
      </div>
    </div>
    <div class="grid col-span-4 justify-center items-center">
      <dl class="text-primary font-primary text-xl text-center font-semibold">
        {{ title }}
      </dl>
      <div class="mt-2 text-base text-gray-600 text-sm text-center font-primary ">
        {{ textInfo }}
      </div>
    </div>
  </div>
</div>
