<nav [ngClass]="{
'z-20 fixed w-full top-0 h-[64px]': true,
'bg-primary': true,
'shadow-xl': true
}" >
  <div class="flex justify-between items-center h-full px-4">
    <div class=" flex items-center justify-center gap-2 hover:cursor-pointer hover:shadow-xl">
      <mat-icon class="text-white hover:cursor-pointer text-center w-full text-shadow" [routerLink]="['./settings']">menu</mat-icon>
    </div>
    <div class="w-full text-center">
      <span class="font-primary text-white text-2xl text-shadow block uppercase">{{nameApp}}</span>
    </div>
    <div class="flex justify-end">
      <mat-icon class="text-white hover:cursor-pointer text-center w-full text-shadow" [routerLink]="['private/home']">home</mat-icon>
    </div>
  </div>
  <div>
  </div>
</nav>
