<div class="form-container">
  <mg-title title="Mi Casa de Apoyo"></mg-title>

  <form [formGroup]="form" (ngSubmit)="submit()" class="form-grid">

    <app-container-alert-information *ngIf="!iglesiaData.nombre" [type]="'warning'" [title]="'Atención'">
      No puedes guardar aun tu casa de apoyo hasta que un coordinador te socie a una ZONA, habla con el coordinador de
      zona
    </app-container-alert-information>

    <mg-input-select label="Municipio" [items]="municipios" formControlName="municipio"
      placeholder="Seleccione un municipio" [required]="true">
    </mg-input-select>

    <mg-input-text label="Barrio" formControlName="barrio" placeholder="Nombre del barrio" [required]="true">
    </mg-input-text>

    <mg-input-text label="Dirección" formControlName="direccion" placeholder="Ej: Cra 45 # 23 - 10" [required]="true">
    </mg-input-text>

    <mg-input-text label="Nombre del habitante" formControlName="nombreHabitante" placeholder="Nombre completo"
      [required]="true">
    </mg-input-text>

    <mg-input-text label="Teléfono del habitante" formControlName="telefonoHabitante" placeholder="Número de contacto"
      [maxlength]="10" [minlength]="10" type="text" [required]="true">
    </mg-input-text>

    <div class="actions flex justify-between gap-3">
      <mg-button text="Guardar" type="submit" [disabled]="form.invalid || !iglesiaData.nombre">
      </mg-button>
    </div>

  </form>
</div>