<div class="form-container">
  <mg-title title="Mi casa de apoyo"></mg-title>

  <div class="flex items-center justify-center">
    <span *ngIf="usuario.iglesia" class="w-full text-center text-lg text-black font-primary">Tú serás el responsable de
      la casa de apoyo</span>
  </div>

  <form [formGroup]="form" (ngSubmit)="submit()" class="form-grid">

    <app-container-alert-information *ngIf="!usuario.iglesia" [type]="'warning'" [title]="'¡Atención!'">
      No puedes guardar aún tu casa de apoyo hasta que un coordinador te asocie a una zona. Habla con el coordinador de
      zona.
    </app-container-alert-information>

    <mg-input-text label="Barrio" formControlName="barrio" placeholder="Nombre del barrio" [required]="true">
    </mg-input-text>

    <mg-input-text label="Dirección" formControlName="direccion" placeholder="Ej: Cra 45 # 23 - 10" [required]="true">
    </mg-input-text>

    <div class="flex items-center justify-center">
      <span class="w-full text-center text-lg text-black font-primary">Si eres el dueño, deja tus datos; si no, los del dueño o
        habitante de la casa</span>
    </div>

    <mg-input-text label="Nombre del dueño" formControlName="nombreHabitante" placeholder="Nombre completo"
      [required]="true">
    </mg-input-text>

    <mg-input-text label="Teléfono del dueño" formControlName="telefonoHabitante" placeholder="Número de contacto"
      [maxlength]="10" [minlength]="10" type="text" [required]="true">
    </mg-input-text>

    <div class="actions flex justify-between gap-3">
      <mg-button text="Guardar" type="submit" [disabled]="form.invalid || !usuario.iglesia">
      </mg-button>
    </div>

  </form>
</div>