<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8 border border-gray-200 rounded-lg bg-base">

  <div class="bg-white border border-gray-200 rounded-lg p-6">
    <mg-title title="Crear cuenta nueva"></mg-title>
    <form [formGroup]="form" (submit)="crear()">
    <mg-input-text type="number" formControlName="documento" label="Documento de identidad" id="documento"></mg-input-text>
    <mg-input-text type="name" formControlName="nombres" label="Nombres" id="nombres"></mg-input-text>
    <mg-input-text type="lastmane" formControlName="apellidos" label="Apellidos" id="apellidos"></mg-input-text>
    <mg-input-text type="email" formControlName="email" label="Escriba su correo electrónico" id="email"></mg-input-text>
    <mg-input-text type="password" formControlName="password" label="Crea clave de LIDA" id="password"></mg-input-text>
    <mg-input-text type="password" formControlName="confirm" label="Confirme la calve" id="confirm"></mg-input-text>

    <p *ngIf="form.get('password')?.value !== form.get('confirm')?.value && form.get('confirm')?.touched" class="text-red-500 font-bold text-sm mt-2">
      Las constraseñas no coinciden
    </p>
    <p *ngIf="form.get('password')?.value?.length > 0 && form.get('password')?.value?.length < 6 && form.get('password')?.touched" class="text-red-500 font-bold text-sm mt-2">
      Debe de contener más de 6 caracteres
    </p>

    <mg-title title="¿A qué te quieres postular?"></mg-title>
    <div class="w-full flex flex-col justify-center items-start gap-y-4 ml-9 mt-4 mb-6 mb-4">
        <label class="inline-flex items-center cursor-pointer">
          <input type="checkbox" value="" formControlName="testigo" class="sr-only peer">
          <div class="relative w-9 h-5 bg-gray-400 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-gray-100 rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-buffer after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:rounded-full after:h-4 after:w-4 after:transition-all peer-checked:bg-green-500"></div>
          <span class="select-none ms-3 text-sm font-medium text-heading">Testigo</span>
        </label>
        <label class="inline-flex items-center cursor-pointer">
          <input type="checkbox" value="" formControlName="transporte" class="sr-only peer">
          <div class="relative w-9 h-5 bg-gray-400 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-gray-100 rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-buffer after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:rounded-full after:h-4 after:w-4 after:transition-all peer-checked:bg-green-500"></div>
          <span class="select-none ms-3 text-sm font-medium text-heading">En transporte</span>
        </label>
        <label class="inline-flex items-center cursor-pointer">
          <input type="checkbox" value="" formControlName="casaApoyo" class="sr-only peer">
          <div class="relative w-9 h-5 bg-gray-400 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-gray-100 rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-buffer after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:rounded-full after:h-4 after:w-4 after:transition-all peer-checked:bg-green-500"></div>
          <span class="select-none ms-3 text-sm font-medium text-heading">Casa de apoyo</span>
        </label>
    </div>


    </form>

    <div class="flex justify-center gap-4">
      <mg-button text="Regresar" [type]="'reset'" (onClick)="back()"></mg-button>
      <mg-button text="Crear" [loading]="disableBtn" [disabled]="form.invalid || form.get('password')?.value !== form.get('confirm')?.value || form.get('password')?.value?.length < 6" (onClick)="crear()"></mg-button>
    </div>
  </div>
</div>
