

@if (usuario) {
  <div class="p-4 bg-white rounded shadow text-center">
    <p class="text-lg font-bold">Información del usuario</p>
    <div class="mt-2 flex flex-col">
      <span class="font-black">{{ usuario.nombres + ' ' + usuario.apellidos }}</span>
      <span>{{ usuario.documento}}</span>
      <span>{{ usuario.email }}</span>
      <span>{{ usuario.rol }}</span>
      <span>{{ iglesiaData?.nombre }}</span>
    </div>
  </div>
}

<div *ngIf="!usuario.rol" class="text-center p-4">
  <span class="text-red-500 font-semibold text-center text-wrap">Debe hablar con el Pastor para obtener permisos.</span>
</div>
