:host {
    display: block;
}

.mat-icon {
    font-size: 20px;
    width: 20px;
    height: 20px;
}

.spinner {
    animation: spin 1s linear infinite;
    font-size: 48px;
    width: 48px;
    height: 48px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}