<mg-title [title]="title"></mg-title>


  <app-spinner [showSpinner]="spinner"></app-spinner>


@if(!showLugarVotacion) {
    <form [formGroup]="form">
      <mg-container-grid [hiddenButtons]="true">
        <mg-input-text type="text" formControlName="nombres" id="names" label="Nombres"></mg-input-text>
        <mg-input-text type="text" formControlName="apellidos" id="lastNames" label="Apellidos"></mg-input-text>
        <mg-input-text type="text" formControlName="documento" id="document" label="Número de cédula"></mg-input-text>
        <mg-input-text type="phone" formControlName="celular" id="phone" label="Célular o télefono" [minlength]="10" [maxlength]="10"></mg-input-text>
        <mg-input-text type="text" formControlName="email" id="email" label="Correo electrónico"></mg-input-text>
      </mg-container-grid>

      <div class="pt-5 px-2">
        <mg-sub-title title="Datos de residencia"></mg-sub-title>
      </div>
      <mg-container-grid [principalText]="accion" [loading]="loading" [disabled]="form.invalid"  (onSubmit)="onSubmit()">
        <mg-input-select formControlName="departamento" [label]="'Departamento'" id="departamento" [items]="departamentos"></mg-input-select>
        <mg-input-select formControlName="municipio" [label]="'Municipio'" id="municipio" [items]="municipios"></mg-input-select>
        <mg-input-select formControlName="comuna" [label]="'Comuna'" id="comuna" [items]="comunas"></mg-input-select>
        <mg-input-select formControlName="barrio" [label]="'Barrio'" id="barrio" [items]="barrios"></mg-input-select>
        <mg-input-text type="text" formControlName="direccion" id="adress" label="Dirección de residencia"></mg-input-text>
        <mg-input-select formControlName="iglesia" [label]="'Iglesia dónde se congrega'" id="iglesia" [items]="iglesias"></mg-input-select>
      </mg-container-grid>
    </form>


  }


    @if(showLugarVotacion) {
      <form [formGroup]="form">
        <mg-container-grid [hiddenButtons]="true">
          <mg-input-text type="text" formControlName="nombres" id="names" label="Nombres"></mg-input-text>
          <mg-input-text type="text" formControlName="apellidos" id="lastNames" label="Apellidos"></mg-input-text>
          <mg-input-text type="text" formControlName="documento" id="document" label="Número de cédula"></mg-input-text>
          <mg-input-text type="phone" formControlName="celular" id="phone" label="Célular o télefono" [minlength]="10" [maxlength]="10"></mg-input-text>
          <mg-input-text type="text" formControlName="email" id="email" label="Correo electrónico"></mg-input-text>
        </mg-container-grid>

        <div class="pt-5 px-2">
          <mg-sub-title title="Datos de residencia"></mg-sub-title>
        </div>
        <mg-container-grid [hiddenButtons]="true">
          <mg-input-select formControlName="departamento" [label]="'Departamento'" id="departamento" [items]="departamentos"></mg-input-select>
          <mg-input-select formControlName="municipio" [label]="'Municipio'" id="municipio" [items]="municipios"></mg-input-select>
          <mg-input-select formControlName="comuna" [label]="'Comuna'" id="comuna" [items]="comunas"></mg-input-select>
          <mg-input-select formControlName="barrio" [label]="'Barrio'" id="barrio" [items]="barrios"></mg-input-select>
          <mg-input-text type="text" formControlName="direccion" id="adress" label="Dirección de residencia"></mg-input-text>
          <mg-input-select formControlName="iglesia" [label]="'Iglesia dónde se congrega'" id="iglesia" [items]="iglesias"></mg-input-select>
        </mg-container-grid>
      </form>


      <div class="pt-5 px-2" *ngIf="!hiddenOtrosDatos">
        <mg-sub-title title="Otros datos (Opcional)"></mg-sub-title>
        <form [formGroup]="formOtrosDatos">
          <mg-container-grid [hiddenButtons]="true">
            <mg-input-select formControlName="esEmprendedor" [label]="'El lider tiene emprendimiento'" id="emprendiimiento" [items]="esEmprendedor"></mg-input-select>
            <mg-input-text type="date" formControlName="fechaNacimiento" id="dateBorn" label="Fecha de nacimiento"></mg-input-text>
          </mg-container-grid>
        </form>
      </div>



      <div class="pt-5 px-2">
        <mg-sub-title title="Lugar de votación (Opcional)"></mg-sub-title>

        <div class="flex sm:flex-col md:flex-row md:justify-between items-center sm:gap-2">
          <mg-button text="Policia Nacional (confirmar nombre)" icon="local_police" type="reset" (onClick)="goToPage('https://antecedentes.policia.gov.co:7005/WebJudicial/antecedentes.xhtml')"></mg-button>
          <mg-button text="Consultar lugar de votación" icon="how_to_vote" (onClick)="goToPage('https://wsp.registraduria.gov.co/censo/consultar/')"></mg-button>
        </div>


        <form [formGroup]="formVotacion">
          <mg-container-grid [principalText]="accion" [loading]="loading" [disabled]="form.invalid"  (onSubmit)="onSubmit()">
            <mg-input-select formControlName="departamento" [label]="'Departamento dónde vota'" id="departamentoVotacion" [items]="departamentos"></mg-input-select>
            <mg-input-select formControlName="municipio" [label]="'Municipio dónde vota'" id="municipioVotacion" [items]="municipiosVotacion"></mg-input-select>
            <mg-input-text type="text" formControlName="lugar" id="lugar" label="Intitución o lugar de votación"></mg-input-text>
            <mg-input-text type="text" formControlName="mesa" id="mesa" label="Mesa de votación"></mg-input-text>
          </mg-container-grid>
        </form>
      </div>
    }










