@import 'ngx-toastr/toastr';
/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.text-shadow {
    text-shadow: 1px 1px 2px black;
  }


  ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  /* Estilo para la pista de la barra de desplazamiento */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  /* Estilo para el pulgar de la barra de desplazamiento */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  /* Estilo para el pulgar de la barra de desplazamiento al pasar el mouse */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


@keyframes slideInLeft {
  from { transform: translateX(-100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

@keyframes slideInRight {
  from { transform: translateX(100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

.animate-slide-in-left {
  animation: slideInLeft 0.3s ease-out forwards;
}

.animate-slide-in-right {
  animation: slideInRight 0.3s ease-out forwards;
}

div.mat-mdc-autocomplete-panel.mat-mdc-autocomplete-visible {
  background-color: #f5f5f5 !important;
  border-radius: 8px !important;
  border: 2px solid #b6b6b6 !important;
}

mat-bottom-sheet-container {
  background-color: #064b73 !important;
}