@import 'ngx-toastr/toastr';
/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.text-shadow {
    text-shadow: 1px 1px 2px black;
  }


  ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  /* Estilo para la pista de la barra de desplazamiento */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  /* Estilo para el pulgar de la barra de desplazamiento */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  /* Estilo para el pulgar de la barra de desplazamiento al pasar el mouse */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

