<mg-skeleton [enableSkeleton]="enableSkeleton" [num]="5"></mg-skeleton>
<div *ngIf="!enableSkeleton" class="bg-white border border-gray-200 rounded-lg p-6">
  <mg-title title="Mis datos"></mg-title>
  <form [formGroup]="form">

    <div class="mb-6 flex flex-row justify-between items-center gap-4">
      <mg-user-photo [photoUrl]="foto" [showDeleteAndEditAction]="true" (deleteAction)="removePhoto()"></mg-user-photo>
      <div class="flex flex-col gap-1" *ngIf="usuario">
        <span *ngIf="usuario.rol" class="font-bold text-lg text-heading">{{ usuario.rol === 'Pastor' ? 'Admin zona' :
          usuario.rol }}</span>
        <span *ngIf="usuario.coordinadorTransporte"
          class="text-md bg-green-100 text-green-800 px-2 py-1 rounded w-fit">Coordinador Transporte</span>
        <span *ngIf="usuario.coordinadorCasaApoyo"
          class="text-md bg-yellow-100 text-yellow-800 px-2 py-1 rounded w-fit">Coordinador Casa Apoyo</span>
        <span *ngIf="usuario.iglesia" class="text-md bg-red-100 text-red-800 px-2 py-1 rounded w-fit">Asociada a
          zona</span>
      </div>
    </div>


    <mg-input-text type="name" formControlName="nombres" label="Primer nombre" id="nombres"></mg-input-text>
    <mg-input-text type="lastmane" formControlName="apellidos" label="Primer apellido" id="apellidos"></mg-input-text>
    <mg-input-text type="text" formControlName="celular" label="Télefono celular" id="celular" [minlength]="10"
      [maxlength]="10"></mg-input-text>



    <mg-title title="¿A qué te quieres postular?"></mg-title>
    <div class="w-full flex flex-col justify-center items-start gap-y-4 ml-9 mt-4 mb-4">
      <label class="inline-flex items-center cursor-pointer">
        <input type="checkbox" value="" formControlName="transporte" class="sr-only peer">
        <div
          class="relative w-9 h-5 bg-gray-400 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-gray-100 rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-buffer after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:rounded-full after:h-4 after:w-4 after:transition-all peer-checked:bg-green-500">
        </div>
        <span class="select-none ms-3 text-sm font-medium text-heading">Quiero mover votantes con mi vehículo</span>
      </label>
      <label class="inline-flex items-center cursor-pointer">
        <input type="checkbox" value="" formControlName="casaApoyo" class="sr-only peer">
        <div
          class="relative w-9 h-5 bg-gray-400 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-gray-100 rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-buffer after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:rounded-full after:h-4 after:w-4 after:transition-all peer-checked:bg-green-500">
        </div>
        <span class="select-none ms-3 text-sm font-medium text-heading">Quiero ser responsable en una casa de
          apoyo</span>
      </label>
      <label class="inline-flex items-center cursor-pointer">
        <input type="checkbox" value="" formControlName="testigo" class="sr-only peer">
        <div
          class="relative w-9 h-5 bg-gray-400 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-gray-100 rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-buffer after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:rounded-full after:h-4 after:w-4 after:transition-all peer-checked:bg-green-500">
        </div>
        <span class="select-none ms-3 text-sm font-medium text-heading">Quiero coordinar los testigos de un puesto de
          votación</span>
      </label>
    </div>


  </form>

  <div class="flex justify-center mt-9 gap-4">
    <mg-button text="Regresar" [type]="'reset'" (onClick)="back()"></mg-button>
    <mg-button [text]="accion" type="submit" [loading]="loading" [disabled]="form.invalid"
      (onClick)="onSubmit()"></mg-button>
  </div>
</div>