name: Deploy Angular to Firebase

on:
  push:
    branches:
      - main
      - develop

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Build Angular
        run: |
          if [ "${GITHUB_REF_NAME}" = "main" ]; then
            npm run build -- --configuration=production
          else
            npm run build -- --configuration=development
          fi

      - name: Deploy to Firebase
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          projectId: ${{ github.ref_name == 'main' && 'lida-prod' || 'lida-test-b2f44' }}
          firebaseServiceAccount: ${{ github.ref_name == 'main' && secrets.FIREBASE_SERVICE_ACCOUNT_PROD || secrets.FIREBASE_SERVICE_ACCOUNT_DEV }}
          channelId: live
